:root{
    --degradado1: #061122;
    --degradado2: #1a4d80;
    --degradado3: #48d5ff;
    --logoOscuro: #064097;
    --intermedio: #25a0ff;
    --noBlanco: #f3f3f3; /* color para resaltar las letras */
    --botones:  #007FF4;
}

.login{
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.textoRegister{
    font-weight: lighter!important;
    font-size: 18px;
    color: #000000;
    margin-bottom: 0px;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.textoRegister2{
    font-weight: lighter!important;
    font-size: 20px;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.tituloRegister{
    font-weight: 900;
    font-size: 25px;
    font-style: normal;
    color: var(--degradado2);
    font-family: 'Montserrat Bold', 'Montserrat', sans-serif;
}
.auth-wrapper .lavalite-bg .lavalite-overlay {
    background-image: url("../img/cityBlue.png");
    background-size: cover;
    /* background-image: url("../img/fondo.jpg");*/
}

.auth-wrapper .authentication-form .form-group .form-control{
    border-radius: 4px;
    height: 1%;
    font-family: Montserrat;
}

.form-control{
    width: 100%;
}

.form-group {
    margin-bottom: 0.5rem;
}

.col-lg-10{
    padding-bottom: 1rem!important;
    padding-left: 0px;
}

.col-lg-12{
    padding-left: 0px;
}

.col-lg-2{
    padding-left: 0px;
}

.textForm{
    font-family: 'Montserrat Bold', 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
}
.btn-custom{
    background-color: var(--botones)!important;
    border-radius: 13px!important;
    font-size: 18px;
    text-transform: none!important;
    letter-spacing: 0px!important;
    border: 0px!important;
    margin-left: 20%;
    padding: 0.5rem 1.5rem;

}

u a:hover{
    color: var(--logoOscuro)!important;
}

.dropdown-toggle{
    background-color: #FFFFFF!important;
    border: 1px solid #eaeaea;
    width: 300%;
    color: #A69999;
    font-family: Montserrat;
    font-weight: lighter!important;
    text-align: left;

}
.auth-wrapper .authentication-form{
    margin-bottom: auto;
    padding: 0px;
    font-size: 18px;
}

.auth-wrapper .authentication-form .sign-btn{
    margin-top: 0px;
}

.ml-auto, .mx-auto{
    margin-left: 5rem!important;
}

.mb-auto, .my-auto{
    margin-bottom: 1rem!important;
}
.mt-auto, .my-auto{
    margin-top: 3rem!important;
}

.logo{
    height: 10%;
    margin: 1rem;
}

.mb-auto, .my-auto {
    margin-bottom: 0rem !important;
}

.centrarElementos{
    display: flex!important;
    align-items: center!important;
}

